

<form novalidate class="simple-form" name="form" ng-controller="NewBookController">
    <div class="form-group" ng-class="{'has-error': (submitted || form.isbn13.$touched) && (form.isbn13.$error.isbn13 || form.isbn13.$error.required)}">
        <label for="isbn13">ISBN 13</label>
        <input
                ng-change="isbnChanged(book)"
                type="text"
                class="form-control"
                name="isbn13"
                placeholder="ISBN 13"
                ng-model="book.isbn13"
                required isbn13>

        <div ng-show="submitted || form.isbn13.$touched">
            <div ng-show="form.isbn13.$error.required"><p class="text-danger">Required</p></div>
            <div ng-show="form.isbn13.$error.isbn13"><p class="text-danger">Invalid ISBN</p></div>
        </div>

        <div ng-show="isAutoFilled">
            <h3 class="text-muted">We already have data for that ISBN:</h3>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': (submitted || form.bookTitle.$touched) && form.bookTitle.$error.required}">
        <label for="title">Book Title</label>
        <input
                type="text"
                ng-disabled="isAutoFilled"
                class="form-control"
                name="bookTitle"
                placeholder="Book Title"
                ng-model="book.title"
                required="">

        <div ng-show="submitted || form.bookTitle.$touched">
            <div ng-show="form.bookTitle.$error.required"><p class="text-danger">Required</p></div>
        </div>
    </div>

    <div class="form-group clearfix" ng-class="{'has-error': (submitted || form.author1.$touched) && form.author1.$error.required}">
        <label for="author1">Author</label>
        <input
                type="text"
                ng-disabled="isAutoFilled"
                class="form-control"
                name="author1"
                placeholder="Author"
                ng-model="authors[0].name"
                required="">

        <div ng-show="submitted || form.author1.$touched">
            <div ng-show="form.author1.$error.required"><p class="text-danger">Required</p></div>
        </div>


        <div class="input-group" ng-repeat="author in authors" style="margin-top: 10px"  ng-show="!$first">
            <input
                    type="text"
                    ng-disabled="isAutoFilled"
                    class="form-control"
                    placeholder="Author"
                    ng-model="author.name">
                        <span class="input-group-addon cursor-pointer" ng-click="removeAuthor($index)">
                            <i class="fa fa-times"></i>
                        </span>
        </div>

        <div class="pull-right" style="margin-top: 10px;margin-bottom: 10px">
            <button class="btn btn-info"
                    ng-click="addAuthor()"
                    ng-disabled="isAutoFilled"><i class="fa fa-plus"></i> Add Additional Author</button>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': (submitted || form.publisher.$touched) && form.publisher.$error.required}">
        <label for="publisher">Publisher</label>
        <input
                type="text"
                ng-disabled="isAutoFilled"
                class="form-control"
                name="publisher"
                placeholder="Publisher"
                ng-model="book.publisher"
                required="">

        <div ng-show="submitted || form.publisher.$touched">
            <div ng-show="form.publisher.$error.required"><p class="text-danger">Required</p></div>
        </div>
    </div>



    <div class="form-group">
        <label for="edition">Edition</label>
            <input
                    type="text"
                    ng-disabled="isAutoFilled"
                    class="form-control"
                    name="edition"
                    placeholder="Edition"
                    ng-model="book.edition">

    </div>

    <div class="form-group" ng-class="{'has-error': submitted && form.req.$error.required}">
        <label for="required">Required for Course</label>
            </br>

            <label class="radio-inline"><input
                    type="radio"
                    ng-model="book.required"
                    name="req"
                    ng-value="true"
                    required=""/> Yes
            </label>


            <label class="radio-inline"><input
                    type="radio"
                    ng-model="book.required"
                    name="req"
                    ng-value="false"
                    required=""/> No
            </label>

        <div ng-show="submitted">
            <div ng-show="form.req.$error.required"><p class="text-danger">Required</p></div>
        </div>
    </div>

    <button type="button" class="btn btn-primary"
            ng-click="addNewBookToCart(book,form)"
            ng-disabled="form.$invalid">
        <i class="fa fa-plus"></i> Add to Cart
    </button>

</form>