

<div style="display: table-row;">

    <div class="book-details-images">
        <img class="smallImage" ng-src="[[ getBookCoverImage() ]]"/>
        <img class="largeImage" ng-src="[[ getBookCoverImage() ]]" style="display: none;"/>
    </div>
    <div style="padding-left: 10px; display: table-cell; vertical-align: top;">
        <h4 class="list-group-item-heading no-pad-bottom">
            [[book.title.trim()]]<span ng-if="book.edition.trim()">, [[book.edition]]</span>
        </h4>
        <small >
            <span class="text-muted" >
                [[book.isbn13 | isbnHyphenate]] &mdash; [[book.publisher]]
                <br>
                by <span ng-repeat="author in book.authors">
                    [[author.name]][[$last ? '' : ($index==book.authors.length-2) ? ', and ' : ', ']]
                </span>
                <ng-transclude>
                </ng-transclude>
            </span>
        </small>
    </div>
</div>

