<ul class="list-group">
    <li class="list-group-item cursor-pointer"
        ng-cloak
        ng-repeat="bookData in cartBooks">

        <div class="pull-right">
            <button class="btn btn-xs btn-danger"
                    ng-click="deleteBookFromCart(bookData)">
                <i class="fa fa-fw fa-times"></i>
            </button>
        </div>

        <h4 class="list-group-item-heading no-pad-bottom">[[bookData.book.title]]</h4>
        <small >
            <span class="text-muted" >[[bookData.book.isbn13 | isbnHyphenate]]</span>
            <br>
            <div ng-repeat="author in bookData.book.authors">
                <span class="text-muted" >[[author.name]]</span>
            </div>

        </small>

    </li>
</ul>