<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">[[ title ]]</h4>

                </div>
            <div class="modal-body">
                <div class="list-group">
                    <a href="/tickets/create" class="list-group-item active">
                        <h4 class="list-group-item-heading">Report a problem with a book</h4>
                        <p class="list-group-item-text">Select this option if you have a problem with the books.</p>
                    </a>
                    <a href="/tickets/create" class="list-group-item">
                        <h4 class="list-group-item-heading">Report a problem with courses</h4>
                        <p class="list-group-item-text">Select this option if there is an error in the courses.</p>
                    </a>
                    <a href="/tickets/create" class="list-group-item">
                        <h4 class="list-group-item-heading">Ask a question</h4>
                        <p class="list-group-item-text">Ask a general question about the Faculty Book Ordering System.</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">Frequently asked questions</h4>
                        <p class="list-group-item-text">Q: Why can't Maria come up with good descriptions? A: No one knows.</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>