
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-info fa-fw"></i>
            Details
        </h3>
    </div>
    <div class="panel-body">

        <dl class="col-md-12 dl-horizontal">
            <dt>Department</dt>
            <dd>
                [[ ticket['department'] ]]
            </dd>

            <dt>Linked To</dt>
            <dd>
                [[ ticket['url'] ]]
            </dd>

            <dt>Created By</dt>
            <dd>
                [[ author['last_first_name'] ]]
            </dd>

            <dt>Created On</dt>
            <dd>
                [[ ticket['created_at'] ]]
            </dd>

            <dt>Email</dt>
            <dd>
                [[ author['email'] ]]
            </dd>

            <dt>Status</dt>
            <dd>
                <span ng-class="{'label label-default': {{ticket['status'] == 0}},
                                 'label label-warning': {{ticket['status'] == 1}},
                                 'label label-primary': {{ticket['status'] == 2}},
                                 'label label-success': {{ticket['status'] == 3}}}">
                    [[ ticket['status'] | ticketStatus ]]
                </span>

            </dd>
        </dl>
    </div>
</div>