@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/OpenSans-Bold.ttf');
}


body {
    margin-top: 50px;
    background-color: #F8F8F8
}


.table > thead > tr:not(:last-child) > * {
    border: none;
    padding-bottom: 5px;
}
.table > thead > tr:last-child > * {
    border-top: none;
    padding-top: 0;
}

.table td > .btn,
.table td > form > .btn {
    margin: -5px 0;
}

.table tbody td {
    vertical-align: middle;
}

.table th[st-sort]{
    cursor: pointer;
}

.panel-title {
    font-size: 20px;
}

.page-header .slash-list {
    padding: 0;
    margin: 0;
}
.slash-list {
    list-style: none;
}
.slash-list li {
    display: inline;
}
.slash-list li + li:before {
    content: "/ ";
}
.slash-list li:empty {
    display: none;
}

.panel-list .panel-list-item {
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    margin-top: -1px;
    padding: 10px;
    margin-left: -15px;
    margin-right: -15px;
}

.panel-list .panel-list-item:first-of-type {
    margin-top: -16px;
}
.panel-list .panel-list-item:last-child {
    margin-bottom: -15px;
}

.panel-list:not(.panel-list-border-last) .panel-list-item:last-child {
    border-bottom: 0;
}

.panel-list .panel-list-item.active {
    z-index: 2;
    color: #ffffff;
    background-color: #428bca;
    border-color: #428bca;
}

.panel-list .panel-list-item.active .text-muted {
    color: #cccccc;
}


select[multiple] option{
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
}

select[multiple]{
    padding: 0;
}



.book-details-images {
    position: relative;
}
.book-details-images .smallImage {
    width: 60px;
}
.book-details-images .largeImage {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
}

.navbar {
    background-color: #8b001d
}

.nav-tabs li a {
    line-height: 1.1;
}

a[role="tab"]{
    outline: 0;
}

.no-pad-bottom {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.cursor-pointer {
    cursor: pointer;
}

.navbar-header {
    margin-bottom: 30px;
}

.navbar-header, .navbar-brand h2, .navbar-brand img {
    height: 60px;
    margin-top: 0px;
}

.navbar-brand h2 {
    display: table-cell;
}

.empty-table-placeholder {
    margin: -20px 10px 10px;
}


.navbar-brand {
    position: fixed;
    padding-right: 0px;
    margin-right: 65px;
}

.navbar-brand h2 {
    padding-left: 25px;
    overflow: hidden;
    vertical-align: middle;
}

.navbar-brand div {
    display: table;
    table-layout: fixed;
}

.top-nav {
    margin-top: 10px;
}

.nav-tabs li:first-child{
    margin-left: 10px;
}


[ng-spinner] {
    position: fixed;
    top: 0.5em;
    left: 50%;
    font-size: 3.2em !important;
    color: white;
    z-index: 9999;
}

@media (max-width: 991px) {
    [ng-spinner] {
        top: initial;
        left: 0.5em;
        bottom: 0.5em;
    }

    .col-md-vspace:not(:first-child){
        padding-top: 15px;
    }
}

@media (max-width: 767px) {
    .navbar-collapse {
        margin-top: 20px;
    }

    [ng-spinner] {
        font-size: 2em !important;
        color: black;
    }

    body {
        margin-top: 10px;
    }
    .navbar-header {
        margin-bottom: 0px;
    }

    .navbar-brand {
        padding-top: 10px;
    }
    
    .navbar-header, .navbar-brand h2, .navbar-brand img {
        height: 30px;
    }
    
    .navbar-brand h2 {
        font-size: 100%;
    }

    .col-sm-vspace:not(:first-child){
        padding-top: 15px;
    }
}

@media (max-width: 1199px) {
    .col-lg-vspace:not(:first-child){
        padding-top: 15px;
    }
}

.col-xs-vspace:not(:first-child){
    padding-top: 15px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}


.fa-align-middle {
    vertical-align: middle;
}
.fa-1-5x {
    font-size: 1.5em !important;
    vertical-align: -35%;
}



footer {
    text-align: center
}

.open-sans {
    font-family: 'Open Sans', sans-serif
}

.navbar * {
    font-family: 'Open Sans', sans-serif;
    color: white !important
}

.body-content {
    padding-left: 15px;
    padding-right: 15px
}

.field-validation-error {
    color: #b94a48
}

.field-validation-valid {
    display: none
}

input.input-validation-error {
    border: 1px solid #b94a48
}

input[type="checkbox"].input-validation-error {
    border: 0 none
}

.validation-summary-errors {
    color: #b94a48
}

.validation-summary-valid {
    display: none
}

/*!
 * Start Bootstrap - SB Admin Bootstrap Admin Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */


#wrapper {
    padding-left: 0
}

#page-wrapper {
    width: 100%;
}

#page-wrapper > div {
    padding: 15px
}

.huge {
    font-size: 50px;
    line-height: normal
}


@media (min-width: 768px) {
    #wrapper {
        padding-left: 225px
    }

    #page-wrapper {
        padding: 10px
    }
}

.top-nav {
    padding: 0 15px
}

.top-nav > li {
    display: inline-block;
    float: left
}

.top-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999
}

.top-nav > li > a:hover, .top-nav > li > a:focus, .top-nav > .open > a, .top-nav > .open > a:hover, .top-nav > .open > a:focus {
    color: #fff;
    background-color: #000
}

.top-nav > .open > .dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175)
}

.top-nav > .open > .dropdown-menu > li > a {
    white-space: normal
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15)
}

li.message-preview > a {
    padding-top: 15px;
    padding-bottom: 15px
}

li.message-footer {
    margin: 5px 0
}

ul.alert-dropdown {
    width: 200px
}

@media (min-width: 768px) {
    .side-nav {
        position: fixed;
        top: 90px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px
    }

    .side-nav > li > a {
        width: 225px
    }

    .side-nav li a:hover, .side-nav li a:focus {
        outline: none;
        background-color: #000 !important
    }
}

.side-nav > li > ul {
    padding: 0
}

.side-nav > li > ul > li > a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999
}

.side-nav > li > ul > li > a:hover {
    color: #fff
}

.flot-chart {
    display: block;
    height: 400px
}

.flot-chart-content {
    width: 100%;
    height: 100%
}

.huge {
    font-size: 40px
}

.panel-green {
    border-color: #5cb85c
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c
}

.panel-green > a {
    color: #5cb85c
}

.panel-green > a:hover {
    color: #3d8b3d
}

.panel-red {
    border-color: #d9534f
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f
}

.panel-red > a {
    color: #d9534f
}

.panel-red > a:hover {
    color: #b52b27
}

.panel-yellow {
    border-color: #f0ad4e
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e
}

.panel-yellow > a {
    color: #f0ad4e
}

.panel-yellow > a:hover {
    color: #df8a13
}

.form-group.required .control-label:after {
    content:"*";
    color: #b52b27;
}

[st-sort]:after{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-left: 0.5em;
}

.st-sort-ascent:after{
    content: '\f15d';
}

.st-sort-descent:after{
    content: '\f15e';
}

[st-sort]:not(.st-sort-descent):not(.st-sort-ascent):after{
    content: '\f0dc';
    color: #999999;
}

.text-muted-hover-danger {
    color: #d8d8d8;
}
*:hover > * > .text-muted-hover-danger {
    color: #999999;
}
.text-muted-hover-danger:hover {
    color: #b94a48;
}


